* {
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    padding: 1rem;
    margin: 0;

    min-height: 100vh;
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
}

code {
    background: dimgray;
    color: white;
    padding: 0.1rem;
}

code > i {
    color: tomato;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem;
    border-radius: 0.5rem;
}

section {
    width: clamp(20%, 20rem, 30%);
    padding: 1rem;
    background-color: lightslategray;
    border-radius: inherit;
}

.field {
    margin: 0.5rem 0;
}

.chart {
    position: relative;
    padding: 0.25rem;
    border: 1px solid blue;
    border-radius: inherit;
    display: grid;
    place-content: center;
}

canvas {
    width: clamp(20rem, 40vw, 30rem);
    aspect-ratio: 1;
    background-color: black;
    border-radius: 0.2rem;
}

#errorMsg {
    position: absolute;
    left: 0;
    bottom: 0;
    translate: 0 100%;

    width: 100%;

    text-align: center;
    color: crimson;
    font-size: small;
    font-style: italic;
}

.hidden {
    display: none;
}

.detailsList {
    max-height: 22rem;
    overflow: auto;
}

details > summary {
    user-select: none;
    cursor: pointer;
}

li {
    user-select: none;
}

code {
    user-select: text;
}

.field > label {
    user-select: none;
}

@media (width <= 800px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    main > * {
        width: 100%;
    }
}
