@import url("https://fonts.googleapis.com/css?family=Noto%20Sans%20Modi:700|Noto%20Sans%20Modi:400");

/* Setup */
* {
    box-sizing: border-box;
}

:root {
    --text: #240905;
    --background: #fdf3f1;
    --primary: #e04229;
    --secondary: #d1ee89;
    --accent: #84e54f;
}

html {
    font-family: "Noto Sans Modi", sans-serif;
    font-weight: 400;
    font-size: 100%;
    text-align: center;
    color: var(--text);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Noto Sans Modi";
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 1.802rem; /* 28.8px */
}

h2 {
    font-size: 1.602rem; /* 25.6px */
}

h3 {
    font-size: 1.424rem; /* 22.72px */
}

h4 {
    font-size: 1.266rem; /* 20.32px */
}

h5 {
    font-size: 1.125rem; /* 18.08px */
}

small {
    font-size: 0.889rem; /* 14.24px */
}

p {
    margin: 0;
}

/* Main */

body {
    min-height: 100vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    overflow: hidden;
}

main {
    padding-top: 1rem;
}

canvas {
    width: clamp(20rem, 40vw, 30rem);
    aspect-ratio: 1;
    background-color: black;
    border-radius: 0.2rem;
}

#errorMsg {
    color: var(--primary);
    font-style: italic;
}

a {
    color: var(--text);
    transition: opacity 200ms;
}

a:hover,
a:focus {
    opacity: 0.75;
}

a:active {
    opacity: 0.5;
}

section {
    position: absolute;
    isolation: isolate;
    left: 0;
    bottom: 0;
    max-height: 25vh;
    max-height: 25svh;
    overflow: auto;
    background-color: color-mix(
        in srgb,
        var(--secondary) 100%,
        var(--background) 75%
    );
    border-radius: 2rem 2rem 0 0;
    padding: 1rem 2rem 3rem;
    text-align: left;
    width: 100%;
}

section > h2 {
    text-align: center;
    margin-bottom: 0.75rem;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}

.field > input {
    flex: 2;
    margin: 0;
    margin-bottom: 0.75rem;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--secondary);

    --_input-shadow: color-mix(in srgb, var(--accent) 100%, transparent 100%);
    box-shadow: inset 4px 4px 4px var(--_input-shadow),
        inset -4px -4px 4px var(--_input-shadow), 0 4px 4px rgba(0, 0, 0, 15%);

    transition: all 200ms;
}

.field > input:hover {
    opacity: 0.8;
}

.field > input:focus,
.field > input:active {
    outline: 1px solid var(--accent);
}

.field > input[type="color"] {
    cursor: pointer;
}

.field > input[type="checkbox"] {
    flex: 0;
    position: relative;
    cursor: pointer;
}

.field > input[type="checkbox"]::before {
    position: absolute;
    left: -1px;
    top: -1px;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.15rem;
    width: 100%;
    aspect-ratio: 1;
    content: " ";
    background-color: var(--secondary);
    border-radius: 0.2rem;
    box-shadow: inset 4px 4px 4px var(--_input-shadow),
        inset -4px -4px 4px var(--_input-shadow), 0 4px 4px rgba(0, 0, 0, 15%);
}

.field > input[type="checkbox"]:checked:before {
    content: "x";
}

.formula {
    padding-top: 0.25rem;
    margin: 0 auto;
    max-width: 75%;
}

.formula input {
    margin: 0;
}

button {
    width: 100%;
    background-color: color-mix(
        in srgb,
        var(--primary) 100%,
        var(--background) 100%
    );
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    border: 1px solid transparent;

    --_button-shadow: color-mix(in srgb, var(--primary) 100%, transparent 100%);
    box-shadow: inset 4px 4px 4px var(--_button-shadow),
        inset -4px -4px 4px var(--_button-shadow), 0 4px 4px rgba(0, 0, 0, 15%);

    transition: all 200ms;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
    border: 1px solid var(--primary);
}

button.sectionChange {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    aspect-ratio: 1;
    width: 2.5rem;
}

i.icon {
    display: block;
    aspect-ratio: 1;
    width: 100%;
    background-image: var(--_src);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

details ul {
    margin: 1rem 0;
}

details li {
    margin-bottom: 0.25rem;
    user-select: none;
}

details li::marker {
    content: " ";
}

details code {
    background-color: color-mix(in srgb, var(--text) 30%, transparent 100%);
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 15%);
    user-select: text;
}

details code > i {
    color: var(--primary);
}

summary {
    font-size: 1.125rem;
    user-select: none;
    cursor: pointer;
}

/* Animations */

@keyframes slideInTop {
    0% {
        translate: 0 -100%;
    }
    50% {
        translate: 0;
    }
    75% {
        translate: 0 -5%;
    }
    100% {
        translate: 0;
    }
}

@keyframes slideInBottom {
    0% {
        translate: 0 100%;
    }
    50% {
        translate: 0;
    }
    75% {
        translate: 0 5%;
    }
    100% {
        translate: 0;
    }
}

@keyframes slideInLeft {
    0% {
        translate: -100% 0;
    }
    50% {
        translate: 0;
    }
    75% {
        translate: -5% 0;
    }
    100% {
        translate: 0;
    }
}

@keyframes slideInRight {
    0% {
        translate: 100% 0;
    }
    50% {
        translate: 0;
    }
    75% {
        translate: 5% 0;
    }
    100% {
        translate: 0;
    }
}

@keyframes appearIn {
    0% {
        scale: 0.75;
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        scale: 1;
    }
}

section {
    animation: slideInBottom 400ms ease-in;
    z-index: 1;
}

canvas {
    animation: appearIn 300ms ease-in;
}

.formula {
    animation: slideInBottom 400ms ease-in;
}

header {
    animation: slideInTop 400ms ease-in;
}

#errorMsg:not(.hidden) {
    animation: appearIn 200ms ease-in;
}

/* Responsive */

.hidden {
    visibility: hidden;
}

section.hidden {
    display: none;
}

.mobile {
    display: block;
}
.desktop {
    display: none;
}

@media (width >= 800px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }

    main {
        display: flex;
        gap: 2rem;
    }

    section {
        position: relative;
        animation: none;
        max-height: 100%;
    }

    #sectionModifires {
        border-radius: 0 2rem 2rem 0;
        animation: slideInLeft 400ms ease-in;
    }

    #sectionHelp {
        border-radius: 2rem 0 0 2rem;
        animation: slideInRight 400ms ease-in;
    }

    footer {
        animation: slideInBottom 400ms ease-in;
    }
}
